
/*  --------------------------------------------------------------------------------- */
body {
  background-color: #f1f1f1;
 /*background-color: #444444;*/
  font-family: 'Roboto', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  /*background-color: #444444;*/
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #d76336;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #da150b;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.fa-paper-plane {
  margin-right: 5px;
}

.form-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

/*form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
}

input, textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
*/
