<h1 class="form-title">Demande de Répudiation</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="otp">OTP</label>
    <textarea id="otp" formControlName="otp"></textarea>
  </div>
  <div class="form-group">
    <label for="Raison">Raison de la suppression</label>
    <textarea id="raison" formControlName="raison"></textarea>
  </div>
  <button type="submit" [disabled]="form.invalid">
    <i class="fa fa-paper-plane"></i> Supprimer
  </button>
</form>

<div>
  <p>{{message}}</p>
</div>


