header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}




